#APP CONFIGURATION
APP_NAME="NP_Nest_APi"
APP_PORT=3000
# DATABASE CONFIGURATION
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

#Encryption
SECRET_KEY="np_app_secret_key_here"

#JWT
SALT_ROUNDS=10
JWT_SECRET="np_secret_key"
#REDIS CONFIGURATION